src/main/resources/assets/icon/appicon.ico filter=lfs diff=lfs merge=lfs -text
src/main/resources/assets/icon/favicon.ico filter=lfs diff=lfs merge=lfs -text
src/main/resources/assets/icon/macos.icns filter=lfs diff=lfs merge=lfs -text
src/main/resources/assets/icon/raw.png filter=lfs diff=lfs merge=lfs -text
src/main/resources/assets/icon/raw.xcf filter=lfs diff=lfs merge=lfs -text
src/main/resources/static/favicon.ico filter=lfs diff=lfs merge=lfs -text
src/main/resources/static/img/brand.png filter=lfs diff=lfs merge=lfs -text
