<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Imgfloat Broadcast</title>
        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
        <script src="/js/vendor/three.min.js"></script>
        <script src="/js/vendor/GLTFLoader.js"></script>
        <script src="/js/vendor/OBJLoader.js"></script>
    </head>
    <body class="broadcast-body">
        <canvas id="broadcast-canvas"></canvas>
        <div id="broadcast-script-layer" class="broadcast-script-layer"></div>
        <script th:inline="javascript">
            const broadcaster = /*[[${broadcaster}]]*/ "";
        </script>
        <script src="/js/cookie-consent.js"></script>
        <script src="/js/toast.js"></script>
        <script type="module" src="/js/broadcast.js"></script>
    </body>
</html>
